
.menuButtons{
    position:relative;
    width: 100%;
    height: 25px;
}

.pops{
    width:60%;
    position:absolute;
    left:30%;
    top:30%;
    z-index: 2;
    text-align: center;
    display: none;
    overflow:visible;
}
#templates{
    border-color: #dd9944;
    border-style: solid;
    background-color: #fabf37;
    z-index:3;
    height:60%;
}
#templatesHeadbar{
    background-color: white;
    /*width:240px;
    height:30px;*/
    text-align: center;
    border-color:#dd9944;
    border-style: solid;
    top:-30px;
    padding: 10px;
    cursor: move;
    /*z-index: 3;*/
}
#templatesCloser{
    position: absolute;
    right:2px;
    top:2px;
}