#user{
    position: absolute;
    left:40%;
}
#biog{
    position: absolute;
    top: 100px;
    left: 45%;
}
select {
  position: relative;
  z-index: 1001; /* bring it to front */
}
#menuArrow{
    width:134px;
    height:20px;
}
#menu{
    position: absolute;
    right: 5%;
    top:0px;
    align-items: center;
}
#menuLoadOut{
    display:none;
    background-color: lightgrey;
    width:130px;
    height:200px;
    position: absolute;
    top: -200px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#write{
    border-color: #dda0a0;
    border-style: solid;
    background-color: pink;
    z-index:2;
    height:40%;
}
#colors{
    border-color: #7788de;
    border-style: solid;
    background-color: #aaaadd;
    z-index:3;
    height:40%;
}

#margin{
    border-color: #465846;
    border-style: solid;
    background-color: #aabbaa;
    z-index:3;
    height:40%;
}
#boxInfo{
    border-color: #9922ee;
    border-style: solid;
    background-color: violet;
    z-index:2;
    height:40%;
}


#writeheadbar{
    background-color: white;
    /*width:240px;
    height:30px;*/
    text-align: center;
    border-color:#dda0a0;
    border-style: solid;
    top:-30px;
    padding: 10px;
    cursor: move;
    /*z-index: 3;*/
}
#colorsheadbar{
    background-color: white;
    /*width:240px;
    height:30px;*/
    text-align: center;
    border-color:#7788de;
    border-style: solid;
    top:-30px;
    padding: 10px;
    cursor: move;
    /*z-index: 3;*/
}

#marginheadbar{
    background-color: white;
    /*width:240px;
    height:30px;*/
    text-align: center;
    border-color:#465846;
    border-style: solid;
    top:-30px;
    padding: 10px;
    cursor: move;
    /*z-index: 3;*/
}
#boxInfoHeadbar{
    background-color: white;
    /*width:240px;
    height:30px;*/
    text-align: center;
    border-color:violet;
    border-style: solid;
    top:-30px;
    padding: 10px;
    cursor: move;
    /*z-index: 3;*/
}

#nameLabel{
    position:relative;

}
#nameText{
    position:relative;
}
#nameSub{
    position:relative;
}

#biogMain{
    position:relative;
}

#nameCloser{
    position: absolute;
    right:2px;
    top:2px;
}
#colorCloser{
    position: absolute;
    right:2px;
    top:2px;
}
#marginCloser{
    position: absolute;
    right:2px;
    top:2px;
}
#boxInfoCloser{
    position: absolute;
    right:2px;
    top:2px;
}

